/**
 * @file app.css
 * @author swan
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    font-size: 100px;
    font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
    height: 100%;
 }

swan-wrapper {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-size: .16rem;
    position: relative;
}

.ensp {
    white-space: normal;
}

.page-body {
    margin-top: .42rem;
}

.title {
    font-size: .15rem;
    color: #666;
    margin: .3rem .22rem .18rem .22rem;
}

.input {
    box-sizing: content-box;
    margin: 0 22.67px .15rem;
    height: .38rem;
    line-height: .38rem;
    font-size: .18rem;
    padding-left: .1rem;
}

.page-title {
    margin: 1rem 0 .3rem 0;
    text-align: center;
}

.page-title-line {
    margin: 0 auto;
    width: .83rem;
    height: .02rem;
    background-color: #e6e6e6;
}

.page-title-text {
    margin-top: .07rem;
    color: #ccc;
}

.reach-bottom {
    text-align: center;
    line-height: .8rem;
    font-size: .12rem;
    color: #333;
}

.border-top {
    border: 0;
    position: relative;
}

.border-top:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 0;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    background: #e6e6e6;
}

.border-right {
    position: relative;
}

.border-right:after {
    content: "";
    width: 1px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    background: #e6e6e6;
}

.border-bottom,
.border-bottom-android {
    border: 0;
    position: relative;
}

.border-bottom:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    background: #e6e6e6;
}

.border-bottom-android:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background: #f5f5f5;
}

.border-left {
    border: 0;
    position: relative;
}

.border-left:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    left: 0;
    top: 0;
    -webkit-transform-origin: left center;
            transform-origin: left center;
    background: #e6e6e6;
}

.border-all {
    border: 0;
    position: relative;
}

.border-all:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
    line-height: 0;
    border-radius: 50%;
    border: 1px solid #e6e6e6;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    background: 0 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
not all {
    .border-top:before,
    .border-bottom:after {
        -webkit-transform: scaleY(0.66666667);
                transform: scaleY(0.66666667);
    }

    .border-right:after,
    .border-left:before {
        -webkit-transform: scaleX(0.66666667);
                transform: scaleX(0.66666667);
    }

    .border-all:before {
        width: 150%;
        height: 150%;
        -webkit-transform: scale(0.66666667);
                transform: scale(0.66666667);
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
not all {
    .border-top:before,
    .border-bottom:after {
        -webkit-transform: scaleY(0.5);
                transform: scaleY(0.5);
    }

    .border-right:after,
    .border-left:before {
        -webkit-transform: scaleX(0.5);
                transform: scaleX(0.5);
    }

    .border-all:before {
        width: 200%;
        height: 200%;
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2.75),
not all {
    .border-top:before,
    .border-bottom:after {
        -webkit-transform: scaleY(0.3636);
                transform: scaleY(0.3636);
    }

    .border-right:after,
    .border-left:before {
        -webkit-transform: scaleX(0.3636);
                transform: scaleX(0.3636);
    }

    .border-all:before {
        width: 275%;
        height: 275%;
        -webkit-transform: scale(0.364);
                transform: scale(0.364);
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3),
not all {
    .border-top:before,
    .border-bottom:after {
        -webkit-transform: scaleY(0.33333333);
                transform: scaleY(0.33333333);
    }

    .border-right:after,
    .border-left:before {
        -webkit-transform: scaleX(0.33333333);
                transform: scaleX(0.33333333);
    }

    .border-all:before {
        width: 300%;
        height: 300%;
        -webkit-transform: scale(0.3326);
                transform: scale(0.3326);
    }
}

@media screen and (min-width: 320px) and (max-width: 359px) {
    html {
        font-size: 77.2946px;
    }
}

@media screen and (min-width: 360px) and (max-width: 375px) {
    html {
        font-size: 86.9565px;
    }
}

@media screen and (min-width: 375px) and (max-width: 385px) {
    html {
        font-size: 90.5797px;
    }
}

@media screen and (min-width: 386px) and (max-width: 392px) {
    html {
        font-size: 93.2367px;
    }
}

@media screen and (min-width: 393px) and (max-width: 400px) {
    html {
        font-size: 94.9275px;
    }
}

@media screen and (min-width: 401px) and(max-width: 414px){
    html {
        font-size: 96.8599px;
    }
}

@media screen and (min-width: 414px) {
    html {
        font-size: 100px;
    }
}
page {
    /* 主要颜色 */
    --color-red: #c40311;
    --color-red-1: #bd1a2d;
    --color-orange: #fa6400;
    --color-blue: #2b99ff;

    /* 浅色 */
    --color-red-light: #c40311;
    --color-orange-light: #fff6f0;
    --color-blue-light: #e1f0ff;

    /* 灰色阶 */
    --color-black: #000;
    --color-gray-1: #333;
    --color-gray-2: #666;
    --color-gray-3: #999;
    --color-gray-4: #ccc;
    --color-gray-5: #e6e6e6;
    --color-gray-6: #eee;
    --color-gray-7: #f5f5f5;
    --color-gray-8: #f8f8f8;
    --color-white: #fff;

    /* rpx均以1242宽度为基准转换 */

    /* 水平间距 */
    --h-spacing-lg: 36.232rpx; /** 60 px **/
    --h-spacing-md: 30.797rpx; /** 51 px **/
    --h-spacing-sm: 18.116rpx; /** 30 px **/

    /* 垂直间距 */
    --v-spacing-xl: 72.464rpx; /** 120 px **/
    --v-spacing-lg: 54.348rpx; /** 90 px **/
    --v-spacing-md: 36.232rpx; /** 60 px **/
    --v-spacing-sm: 25.362rpx; /** 42 px **/
    --v-spacing-xs: 18.116rpx; /** 30 px **/
    --v-spacing-xxs: 14.493rpx; /** 24 px **/

    /* 字体大小 */
    --font-size-lg: 39.855rpx; /* 66 px */
    --font-size-md: 32.609rpx; /* 54 px */
    --font-size-sm: 28.986rpx; /* 48 px */
    --font-size-xs: 25.36rpx;  /* 42 px */
    --font-size-xms: 21.739rpx; /* 36 px */

    /* 行高 */
    --line-height-lg: 39.855rpx; /* 66 px */
    --line-height-xs: 25.36rpx; /* 42 px */

    /* tab */
    --tabs-height: 88.768rpx; /* tab栏高度  88.768rpx*/
    --tabs-border-radius: 2.415rpx; /* 底部指示器圆角 2.415rpx*/
    --tabs-indicator-width: 57.971rpx; /* 底部指示器宽度 57.971rpx */
    --tabs-indicator-height: 4.831rpx; /* 底部指示器高度 4.831rpx */

    /* tab-item */
    --tab-item-height: 88.768rpx;

    /* list */
    --top-border-color: #f5f5f5;
    --top-border-height: 18.116rpx; /* 30 px*/
    --bottom-border-color: #f5f5f5;
    --bottom-border-height: 18.116rpx; /* 30 px*/

    /* 圆角 */
    --border-radius-md: 18.116rpx; /* 30 px */
    --border-radius-xs: 9.058rpx; /* 15 px */
}
